<a href="https://colab.research.google.com/github/irudrasingh/irudrasingh/blob/main/sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv("dataset.csv")
#Import the dataset

In [ ]:
df.head()

In [ ]:
"""Write a lambda function that will, given a string, split on space, convert the string to
lowercase, and select only the first element in the resultant list
Apply the lambda function to the ‘name’ column, and save the result"""
res = df['name'].apply(lambda x: x.split(' '))

"""Access the dataframe text using a new column name (FName), and assign the result
from the above step"""

df['Fname']=res.apply(lambda x:x[0].lower())
df

In [ ]:
result = df.groupby(['gender', 'specialisation'])
result.first()

In [ ]:
"""Next, group the dataset by ‘Gender’ and ‘specialization’ columns and convert the rest of the
columns of the dataframe into a dictionary such that the column header is the key of the
dictionary."""
df1=df[['degree_p','degree_t','status','name','Fname']]
df1.to_dict('dict')

In [ ]:
"""Display the median of the degree percentages (degree_p column) according to the gender,
degree_t, and specialisation. (Use GROUPBY)"""
df.groupby(['gender','degree_t','specialisation']).median()['degree_p']